/* regole di base */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: #32495B;
}

/* /regole di base */

/* layout font */
.leng-contact li, .leng-contact li a,
.menu li a{
  font-size: 14px;
  color: #32495B;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -1px;
}

.titolo-principale h1{
  font-size: 46px;
  color: #33475B;
}
.titolo-principale p:nth-of-type(1){
  font-size: 16px;
  margin: 40px 0;
  color: #32495B;
  line-height: 24px;
  font-weight: 500;
}
.titolo-principale p:last-of-type{
  font-size: 10px;
  margin-top: 40px;
  color: #32495B;
}
.claim h2{
  font-size: 28px;
  color: #32495B;
  margin-bottom: 25px;
}

.claim p {
  font-size: 14px;
  color: #32495B;
  line-height: 28px;
}
.box-crm h3, .box-1-testo h3{
  font-size: 22px;
  margin-bottom: 20px;
}
.box-crm p, .box-1-testo p{
  font-size: 14px;
  line-height: 28px;
}
.box-crm h4, .box-1-testo h4{
  font-size: 16px;
  text-transform: uppercase;
  margin: 15px 0;
}
.box-crm ul li{
  font-size: 14px;
  margin-right: 20px;
  margin-top: 20px;
}
.box-crm ul li i, .box-1-testo ul li i{
  color: #FE775A;
  margin-right: 15px;
}

.box-1-testo ul li{
  font-size: 14px;
  list-style: none;
}
.box-1-testo hr{
  margin: 20px 30px;
}

.testo-premi h2{
  font-size: 24px;
  padding: 25px 50px;
  color:#fff;
}
.testo-premi p{
  font-size: 14px;
  color:#fff;
}
.box-col-1{
  color:#fff;
}
.box-col-1 p:first-of-type{
  font-size: 44px;
  font-weight: bold;
  margin: 10px 0;
}
.box-col-1 p:last-of-type{
  font-size: 12px;
}

.box-col-1 span{
  font-weight: normal;
}

.customers h3{
  font-size: 48px;
}
.customers p{
  font-size: 14px;
  text-align:left;
  padding-left: 26px;
}
.text-growing h3{
  font-size: 24px;
  padding-top: 40px;
}
.text-growing p:nth-of-type(1){
  font-size: 12px;
  margin: 40px 0;
  color: #32495B;
  line-height: 24px;
}
.text-growing p:last-of-type{
  font-size: 10px;
  margin-top: 50px;
  color: #32495B;
}
.footer-list ul li:first-of-type
{
  font-size: 14px;
  font-weight: bold;
  color:#fff;
  margin-bottom:20px;
}
.footer-list ul li a, .lingue ul li a{
  font-size: 14px;
  color:#BDC9D5;
  text-decoration: none;
}


/* /layout font */

/* layout button */

.button-empty, .button-full{
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px 10px;
  letter-spacing: -0.5px;
  font-weight: 600;
}
.button-empty{
  background-color: #fff;
  border: 1px solid #FE775A;
  color: #FE775A;
}
.button-full{
  background-color: #FE775A;
  color: #fff;
}

/* /layout button */

/* struttura header */

/* layout top-header */
.top-header{
  height: 10vh;
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid #506473;
}

/* posizionamento scelta lingua e login */
.conteiner{
  max-width: 80%;
  height:10vh;
  margin: 0 auto;
  position:relative;
}
.leng-contact{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.log-in{
  position:absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* /posizionamento scelta lingua e login */

.leng-contact ul li, .log-in ul li,
.menu ul li{
  display: inline-block;
}
.leng-contact li:first-of-type{
  border-right: 1px solid #506473;
  padding-right: 20px;
}
.leng-contact li a{
  padding-left: 20px;
}
.search{
  color: #46BDD0;
  font-size: 12px;
}

.log-in li:nth-of-type(2){
  margin: 0 20px;
}

/* struttura logo e menu */
.logo, .menu{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.logo img {
  width: 100%;
}
.logo{
  width:100px;
}
.menu{
right: 0;
}

.menu li:not(:last-child){
  margin-right: 30px;
}
.angle-menu{
  margin-left: 10px;
}
/* /struttura logo e menu */

/* /layout top-header */

/* struttura hero */
.hero{
  height:70vh;
  background-color: #FFF4EF;
  background-image: url('../img/jumbotron.png');
  background-size: 76%;
  background-repeat: no-repeat;
  background-position-x: right;
}
.titolo-principale{
  width:600px;
  margin-left: 10%;
  padding-top: 50px
}
.button-hero{
  padding:20px 40px;
}
/* /struttura hero */
/* creo div vuoto come separatore colorato */
header::after{
  display: block;
  content: "";
  height:60px;
  background-color: #AFEBE4;
  border-top:2px solid #32495B;
  border-bottom:2px solid #32495B;
}
/* creo div vuoto come separatore colorato */

/* /struttura header */

/* struttura main */

.product{
  background-color: #F4F9FD;
  padding-top: 50px;
}

/* layout sezione claim e cubo di rubik */
.img-cubo{
  height: 160px;
  width: 200px;
  margin: 0 auto;
}
.img-cubo img{
  width: 100%;
}
.claim {
  text-align: center;
  width:60%;
  margin: 0 auto;
  padding-bottom: 50px;
}
/* /layout sezione claim e cubo di rubik */

/* layout row crm */
.row-product{
  width: 80%;
  margin:20px auto;
  box-shadow: 0px 0px 4px 1px lightgrey;
  background-color: #fff;
}

.row-product-1{
  width: 80%;
  margin:20px auto;
}

/* applico proprietà clearfix */
.row-product::after, .row-product-1::after{
  display:block;
  content: "";
  clear:both;
}
/* /applico proprietà clearfix */

/* creo box che contiene img e button */
.box-book{
  width:30%;
  float:left;
  text-align: center;
  margin-right: 5%;
}
/* /creo box che contiene img e button */

/* box contenente testo hubspot crm */
.box-crm{
  width:60%;
  float:left;
  margin: 30px 0;
}
/* /box contenente testo hubspot crm */

/* fomrattazione immagine book */
.img-book{
  width:150px;
  height:150px;
  margin:10px auto;
  padding:15px 0;
}
.img-book img{
  width:100%;
  height:100%;
  object-fit: contain;
}
/* /fomrattazione immagine book */

/* formattazione button book */
.box-book .button-full, .row-product-1 .button-full{
  padding: 15px 30px;
}
/* /formattazione button book */

/* formattazione testo box free crm */
.box-crm h4, .box-crm hr {
  display:inline-block;
}
.box-crm hr {
  width:350px;
  vertical-align: middle;
  margin-left: 60px;
}
.box-crm ul li{
  display:inline-block;
}
/* /formattazione testo box free crm */

/* formattazione 3 box in riga */
.box-1, .box-2, .box-3{
  width: calc( (100% - 40px) / 3);
  float:left;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 1px lightgrey;
}
.box-2{
  margin: 0 20px;
}

.box-1-testo{
  text-align: center;
}
.row-product-1 ul {
  text-align: left;
  margin-left: 30px;
}
.row-product-1 ul li:last-of-type{
  margin-bottom: 40px;
}
/* /formattazione 3 box in riga */

/* /layout row crm */

/* layout sezione premi vinti */
.premi{
  background-image: linear-gradient(to right, #00A8B9 , #00B9A8);
}
.testo-premi{
  width:80%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}
.griglia-premi{
  width:80%;
  margin: 0 auto;
  padding: 25px 0;
}

.box-col-1{
  height:200px;
  width:25%;
  float:left;
  text-align: center;
  padding: 25px 0;
}
/* applico clearfix */
.col-1::after{
  content:"";
  display:block;
  clear:both;
}
/* /applico clearfix */

/* struttura immagini nella griglia */
.img-griglia{
  height:50px;
  width:100px;
  margin: 0 auto;
}
.img-griglia img{
  width:100%;
  height:100%;
  object-fit: scale-down;
}
.top-col {
  border-bottom:1px solid #fff;
}
.col-1 .box-col-1:not(:last-child){
  border-right:1px solid #fff;
}
/* /struttura immagini nella griglia */

/* /layout sezione premi vinti */

/* struttura sezione partner */
.conteiner-partner{
  width: 80%;
  margin: 40px auto;
  text-align: center;
}
.conteiner-start-growing{
  width: 80%;
  margin: 80px auto;
  text-align: center;
}
.logo-partner{
  width:50%;
  float:left;
  margin-left:15%;
}
.customers{
  width:30%;
  float:left;
  padding: 0 55px;
}
/* applico proprietà clearfix */
.conteiner-partner::after{
  content:"";
  display:block;
  clear:both;
}
/* /applico proprietà clearfix */

/* struttura loghi partner */
.row-logo{
  width:100%;
  margin-top:15px;
}
.logo-1{
  height:50px;
  width:25%;
  float:left;
  padding: 0 15px;
}
.logo-1 img{
  width:100%;
  height:100%;
  object-fit: contain;
}

/* applico clearfix */
.row-logo::after, .conteiner-start-growing::after{
  display:block;
  content:"";
  clear:both;
}
/* /applico clearfix */
/* /struttura loghi partner */

/* struttura testimonial */
.img-testimonial{
  width:30%;
  height:400px;
  float:right;
  margin-left: 25%;
  margin-right:10%;
}
.img-testimonial img{
  width:100%;
  height:100%;
  object-fit: contain;
}
.text-growing{
  text-align: left;
  width:35%;
  float:left;
}
/* /struttura testimonial */
/* /struttura sezione partner */

/* /struttura main */

/* struttura footer */
footer{
  background-color:#32495B;
}
.conteiner-footer{
  width:80%;
  height:400px;
  margin: 0 auto;
}
.footer-list{
  height:200px;
  width:25%;
  float:left;
}
/* applico clearfix */
.conteiner-footer::after{
  display:block;
  content:"";
  clear:both;
}

.footer-list ul{
  list-style-type: none;
}
.footer-list ul li{
  margin-bottom:10px;
}
.footer-list{
  margin-top:40px;
}
#button-footer{
  font-size:12px;
  color:#32495B;
  background-color: #DADEE0;
}
.footer-list ul li:nth-of-type(7){
  margin:20px 0;
}
/* /applico clearfix */

/* struttura link social */
.link-social li{
  color:#fff;
  display:inline-block;
  margin-right: 20px;
}
/* /struttura link social */

/* struttura lingue */
.lingue{
  width:80%;
  margin: 0 auto;
  text-align: center;
}
.lingue li{
  display:inline-block;
}
.lingue li:not(:last-of-type){
  margin-right:25px;
}
footer hr{
  width:80%;
  margin: 20px auto;
}
/* /struttura lingue */

/* struttura logo finale e privacy */
.final-logo{
  width:80%;
  height:100px;
  background-color:yellow;
  margin: 0 auto;
}
.logo-copy{
  width:25%;
  height:50px;
  float:left;
  background-color:green;
}
.privacy{
  width:25%;
  height:50px;
  float: right;
  background-color:green;
}
/* /struttura logo finale e privacy */



/* /struttura footer */
