/* regole di base */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

/* /regole di base */

/* layout font */
.leng-contact li, .leng-contact li a{
  font-size: 14px;
  color: #32495B;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -1px;
}
/* /layout font */

/* layout button */

.button-empty, .button-full{
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px 10px;
  letter-spacing: -0.5px;
  font-weight: 600;
}
.button-empty{
  background-color: #fff;
  border: 1px solid #FE775A;
  color: #FE775A;
}
.button-full{
  background-color: #FE775A;
  color: #fff;
}

/* /layout button */

/* struttura header */

/* layout top-header */
.top-header{
  height: 10vh;
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid #506473;
}

/* posizionamento scelta lingua e login */
.conteiner{
  max-width: 80%;
  height:10vh;
  margin: 0 auto;
  position:relative;
}
.leng-contact{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.log-in{
  position:absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* /posizionamento scelta lingua e login */

.leng-contact ul li, .log-in ul li{
  display: inline-block;
}
.leng-contact li:first-of-type{
  border-right: 1px solid #506473;
  padding-right: 20px;
}
.leng-contact li a{
  padding-left: 20px;
}
.search{
  color: #46BDD0;
  font-size: 12px;
}

.log-in li:nth-of-type(2){
  margin: 0 20px;
}

/* /layout top-header */


/* /struttura header */
